In [1]:
import pandas as pd
import logging

# Log fayl manzili
log_path = r"C:\Users\Rasulbek907\Desktop\Project_MP\Log\data_loader.log"

# Log sozlamalari
logging.basicConfig(
    filename=log_path,
    filemode='a',  # Append mode
    format='%(asctime)s - %(levelname)s - %(message)s',
    level=logging.INFO
)

try:
    logging.info("CSV fayl o'qilmoqda:...")
    df = pd.read_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Enginered_Data\feature_enginering.csv")
    logging.info(f"Fayl muvaffaqiyatli o'qildi. Satƒ±rlar soni: {len(df)} ustunlar soni: {len(df.columns)}")
except Exception as e:
    logging.error(f"CSV faylni o'qishda xatolik: {e}")

In [2]:
df.head()

,Unnamed: 0,Video ID,Video Title,Channel,Published Date,Views,Likes,Comments,Subscribers,Channel Views,...,Category_Cluster_y,Year,Month,Day,DayOfWeek,DayName,Views_per_Sub,Engagement,Like_per_Sub,Comment_per_Sub
0,0,-7yvyIvJXH0,O REL√ìGIO SECRETO DO GTA 5!,GamerCosta,2025-10-20 00:05:43+00:00,34727,686,16,4190000,1909505035,...,2,2025,10,20,0,Monday,0.008288,0.020214,0.000164,0.000004
1,1,9h5Uv27uTwU,"GIRLS TRIP üå¥‚ú® Traumurlaub, Yoga & Surfen! ü•∞",Paula Doeringer,2025-10-16 16:03:51+00:00,45151,1514,21,188000,135785655,...,2,2025,10,16,3,Thursday,0.240164,0.033996,0.008053,0.000112
2,2,SmF8VTWdqZU,Imran Riaz News About TLP Saad & Anas Rizvi #r...,Real Muslim 100,2025-10-17 03:00:36+00:00,353713,6485,127,37300,54921887,...,2,2025,10,17,4,Friday,9.482668,0.018693,0.173856,0.003405
3,3,rvn2CD4h_ac,‡πÄ‡∏õ‡πá‡∏ô‡∏Ñ‡∏•‡∏¥‡∏õ‡πÅ‡∏Å‡∏•‡πâ‡∏á‡∏ó‡∏µ‡πà‡∏ó‡∏≥‡πÉ‡∏´‡πâ‡πÄ‡∏Ç‡∏≤‡πÄ‡∏õ‡πá‡∏ô Viral ‡πÄ‡∏•‡∏¢ #kornzo,Kornzo,2025-10-18 09:07:36+00:00,2171652,78431,183,43800,88085601,...,1,2025,10,18,5,Saturday,49.579964,0.036200,1.790621,0.004178
4,4,Efr59jKIkgU,‡πÇ‡∏Å‡∏á‡∏¢‡∏±‡∏ô‡πÅ‡∏≠‡∏î‡∏°‡∏¥‡∏ô ‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ã‡∏∑‡πâ‡∏≠-‡∏Ç‡∏≤‡∏¢ Valorant [ ‡πÇ‡∏Å‡∏á‡∏°‡∏±‡πâ‡∏¢‡∏Ñ...,DOM,2025-10-16 10:48:06+00:00,246429,9321,949,2490000,501089468,...,0,2025,10,16,3,Thursday,0.098967,0.041675,0.003743,0.000381

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8493 entries, 0 to 8492
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          8493 non-null   int64
 1   Video ID            8493 non-null   object
 2   Video Title         8493 non-null   object
 3   Channel             8492 non-null   object
 4   Published Date      8493 non-null   object
 5   Views               8493 non-null   int64
 6   Likes               8493 non-null   int64
 7   Comments            8493 non-null   int64
 8   Subscribers         8493 non-null   int64
 9   Channel Views       8493 non-null   int64
 10  Country             8493 non-null   object
 11  Region              8493 non-null   object
 12  CategoryID          8493 non-null   int64
 13  CategoryName        8493 non-null   object
 14  Cluster             8493 non-null   int64
 15  CategoryID_enc      8493 non-null   int64
 16  Country_enc         8493 non-null   int64
 17  VideoCluster        8493 non-null   int64
 18  Anomaly             8493 non-null   object
 19  Channel_Cluster     8493 non-null   int64
 20  Video_Cluster       8493 non-null   int64
 21  Country_Cluster_x   8493 non-null   int64
 22  Category_Cluster_x  8493 non-null   int64
 23  Country_Cluster_y   8493 non-null   int64
 24  Category_Cluster_y  8493 non-null   int64
 25  Year                8493 non-null   int64
 26  Month               8493 non-null   int64
 27  Day                 8493 non-null   int64
 28  DayOfWeek           8493 non-null   int64
 29  DayName             8493 non-null   object
 30  Views_per_Sub       8493 non-null   float64
 31  Engagement          8493 non-null   float64
 32  Like_per_Sub        8493 non-null   float64
 33  Comment_per_Sub     8493 non-null   float64
dtypes: float64(4), int64(21), object(9)
memory usage: 2.2+ MB

In [4]:
import regex as re

non_latin_pattern = re.compile(r'\P{Latin}')

def has_non_latin(s):
    if not isinstance(s, str):
        return False
    return bool(non_latin_pattern.search(s))

# faqat object turidagi ustunlarni ajratamiz
obj_cols = df.select_dtypes(include=['object']).columns

# har bir satrda qaysi ustunlarda non-latin borligini aniqlaymiz
mask = df[obj_cols].applymap(has_non_latin).any(axis=1)
notanish_df = df[mask]

print(f"Notanish yozuvli satrlar soni: {mask.sum()}")
notanish_df.to_csv("nonlatin_rows.csv", index=False)

Notanish yozuvli satrlar soni: 8493

C:\Users\Rasulbek907\AppData\Local\Temp\ipykernel_8576\598365124.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mask = df[obj_cols].applymap(has_non_latin).any(axis=1)

In [5]:
summary = df.select_dtypes(include=['object']).apply(
    lambda col: col.apply(has_non_latin).sum()
)
print(summary)

Video ID          7612
Video Title       8462
Channel           6627
Published Date    8493
Country           1649
Region               0
CategoryName      4714
Anomaly              0
DayName              0
dtype: int64

In [7]:
df["CategoryName"].unique()

array(['Gaming', 'People & Blogs', 'News & Politics', 'Entertainment',
       'Science & Technology', 'Howto & Style', 'Autos & Vehicles',
       'Music', 'Film & Animation', 'Sports', 'Comedy'], dtype=object)

In [6]:
category_map = {
    'Gaming': 0,
    'People & Blogs': 1,
    'News & Politics': 2,
    'Entertainment': 3,
    'Science & Technology': 4,
    'Howto & Style': 5,
    'Autos & Vehicles': 6,
    'Music': 7,
    'Film & Animation': 8,
    'Sports': 9,
    'Comedy': 10
}

df['CategoryName'] = df['CategoryName'].map(category_map)

In [7]:
summary = df.select_dtypes(include=['object']).apply(
    lambda col: col.apply(has_non_latin).sum()
)
print(summary)

Video ID          7612
Video Title       8462
Channel           6627
Published Date    8493
Country           1649
Region               0
Anomaly              0
DayName              0
dtype: int64

In [8]:
from unidecode import unidecode

# notanish yozuvli ustunlar ro'yxati
cols_to_clean = ['Video ID', 'Video Title', 'Channel', 'Published Date', 'Country']

# har bir ustun bo'yicha unidecode qo'llash
for col in cols_to_clean:
    df[col] = df[col].astype(str).apply(unidecode)

print("‚úÖ Unidecode barcha belgilar lotin yozuviga o‚Äòtkazildi!")

‚úÖ Unidecode barcha belgilar lotin yozuviga o‚Äòtkazildi!

In [9]:
df.head()

,Unnamed: 0,Video ID,Video Title,Channel,Published Date,Views,Likes,Comments,Subscribers,Channel Views,...,Category_Cluster_y,Year,Month,Day,DayOfWeek,DayName,Views_per_Sub,Engagement,Like_per_Sub,Comment_per_Sub
0,0,-7yvyIvJXH0,O RELOGIO SECRETO DO GTA 5!,GamerCosta,2025-10-20 00:05:43+00:00,34727,686,16,4190000,1909505035,...,2,2025,10,20,0,Monday,0.008288,0.020214,0.000164,0.000004
1,1,9h5Uv27uTwU,"GIRLS TRIP Traumurlaub, Yoga & Surfen!",Paula Doeringer,2025-10-16 16:03:51+00:00,45151,1514,21,188000,135785655,...,2,2025,10,16,3,Thursday,0.240164,0.033996,0.008053,0.000112
2,2,SmF8VTWdqZU,Imran Riaz News About TLP Saad & Anas Rizvi #r...,Real Muslim 100,2025-10-17 03:00:36+00:00,353713,6485,127,37300,54921887,...,2,2025,10,17,4,Friday,9.482668,0.018693,0.173856,0.003405
3,3,rvn2CD4h_ac,epnkhlipaeklngthiithamaihekhaaepn Viral ely #k...,Kornzo,2025-10-18 09:07:36+00:00,2171652,78431,183,43800,88085601,...,1,2025,10,18,5,Saturday,49.579964,0.036200,1.790621,0.004178
4,4,Efr59jKIkgU,okngyanae`dmin klumchuue`-khaay Valorant [ okn...,DOM,2025-10-16 10:48:06+00:00,246429,9321,949,2490000,501089468,...,0,2025,10,16,3,Thursday,0.098967,0.041675,0.003743,0.000381

# Video Title va Channel ustunlaridagi noodatiy belgilarni tozalash

In [10]:
import re

def clean_text(text):
    if isinstance(text, str):
        text = re.sub(r'[^\x00-\x7F]+', '', text)  # faqat ASCII qoldiradi
    return text

df["Video Title"] = df["Video Title"].apply(clean_text)
df["Channel"] = df["Channel"].apply(clean_text)

# Published Date ustunini datetime formatga o‚Äòtkazish

In [11]:
df["Published Date"] = pd.to_datetime(df["Published Date"], errors='coerce')

In [12]:
import re
import unicodedata

def deep_clean_text(text):
    if not isinstance(text, str):
        return text

    # 1. Normalize (unicode form)
    text = unicodedata.normalize('NFKC', text)

    # 2. Remove control characters va ko‚Äòrinmas belgilar
    text = re.sub(r'[\u200b-\u200f\u202a-\u202e\u2060-\u206f\u00ad\uFEFF]', '', text)

    # 3. Remove HTML entities
    text = re.sub(r'&[a-z]+;', '', text)

    # 4. Remove all non-printable characters
    text = ''.join(ch for ch in text if ch.isprintable())

    # 5. Remove remaining non-ASCII characters (optional)
    text = re.sub(r'[^\x00-\x7F]+', '', text)

    # 6. Strip whitespaces
    text = text.strip()

    return text

df["Video Title"] = df["Video Title"].apply(deep_clean_text)
df["Channel"] = df["Channel"].apply(deep_clean_text)

In [13]:
def count_unusual(text):
    if not isinstance(text, str):
        return False
    # Agar matnda ASCII‚Äôdan tashqari belgilar bo‚Äòlsa, True
    return bool(re.search(r'[^\x00-\x7F]', text))

for col in ["Video Title", "Channel"]:
    bad_count = df[col].apply(count_unusual).sum()
    print(f"{col:20} ‚Üí {bad_count} ta noodatiy qiymat")

Video Title          ‚Üí 0 ta noodatiy qiymat
Channel              ‚Üí 0 ta noodatiy qiymat

# DF dagi noodatiy belgilarni tekshirish

In [14]:
import re

def count_unusual_chars(df):
    pattern = re.compile(r'[^\x00-\x7F]')  # ASCII bo'lmagan belgilarni topadi
    result = {}

    for col in df.select_dtypes(include=['object']).columns:
        # Har bir ustun uchun noodatiy belgilar bor-yo‚Äòqligini tekshirish
        bad_count = df[col].astype(str).apply(lambda x: bool(pattern.search(x))).sum()
        result[col] = bad_count

    return result


unusual_counts = count_unusual_chars(df)

for col, count in unusual_counts.items():
    print(f"{col:20} ‚Üí {count} ta noodatiy qiymat")

Video ID             ‚Üí 0 ta noodatiy qiymat
Video Title          ‚Üí 0 ta noodatiy qiymat
Channel              ‚Üí 0 ta noodatiy qiymat
Country              ‚Üí 0 ta noodatiy qiymat
Region               ‚Üí 0 ta noodatiy qiymat
Anomaly              ‚Üí 0 ta noodatiy qiymat
DayName              ‚Üí 0 ta noodatiy qiymat

In [15]:
import sys
import os

# Source papkasini yo'lga qo'shamiz
source_path = os.path.abspath("../Source")
if source_path not in sys.path:
    sys.path.append(source_path)

print("Python executable:", sys.executable)
print("Source path added:", source_path)

# Endi modulni import qilamiz
from preprosessing import Cleaner, Encoder, Scaler

Python executable: c:\Users\Rasulbek907\Desktop\Project_MP\mpvenv\Scripts\python.exe
Source path added: c:\Users\Rasulbek907\Desktop\Project_MP\Source

In [16]:
cleaner = Cleaner(df)
df = cleaner.tozala().get_df()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8493 entries, 0 to 8492
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          8493 non-null   int64
 1   Video ID            8493 non-null   object
 2   Video Title         8493 non-null   object
 3   Channel             8493 non-null   object
 4   Published Date      8493 non-null   datetime64[ns, UTC]
 5   Views               8493 non-null   int64
 6   Likes               8493 non-null   int64
 7   Comments            8493 non-null   int64
 8   Subscribers         8493 non-null   int64
 9   Channel Views       8493 non-null   int64
 10  Country             8493 non-null   object
 11  Region              8493 non-null   object
 12  CategoryID          8493 non-null   int64
 13  CategoryName        8493 non-null   int64
 14  Cluster             8493 non-null   int64
 15  CategoryID_enc      8493 non-null   int64
 16  Country_enc         8493 non-null   int64
 17  VideoCluster        8493 non-null   int64
 18  Anomaly             8493 non-null   object
 19  Channel_Cluster     8493 non-null   int64
 20  Video_Cluster       8493 non-null   int64
 21  Country_Cluster_x   8493 non-null   int64
 22  Category_Cluster_x  8493 non-null   int64
 23  Country_Cluster_y   8493 non-null   int64
 24  Category_Cluster_y  8493 non-null   int64
 25  Year                8493 non-null   int64
 26  Month               8493 non-null   int64
 27  Day                 8493 non-null   int64
 28  DayOfWeek           8493 non-null   int64
 29  DayName             8493 non-null   object
 30  Views_per_Sub       8493 non-null   float64
 31  Engagement          8493 non-null   float64
 32  Like_per_Sub        8493 non-null   float64
 33  Comment_per_Sub     8493 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(4), int64(22), object(7)
memory usage: 2.2+ MB

In [18]:
encoder = Encoder(df, target_col="CategoryName")
encoded_df = encoder.encodla().get_df()

In [19]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8493 entries, 0 to 8492
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          8493 non-null   int64
 1   Video ID            8493 non-null   int64
 2   Video Title         8493 non-null   int64
 3   Channel             8493 non-null   int64
 4   Published Date      8493 non-null   datetime64[ns, UTC]
 5   Views               8493 non-null   int64
 6   Likes               8493 non-null   int64
 7   Comments            8493 non-null   int64
 8   Subscribers         8493 non-null   int64
 9   Channel Views       8493 non-null   int64
 10  Country             8493 non-null   int64
 11  Region              8493 non-null   int64
 12  CategoryID          8493 non-null   int64
 13  CategoryName        8493 non-null   int64
 14  Cluster             8493 non-null   int64
 15  CategoryID_enc      8493 non-null   int64
 16  Country_enc         8493 non-null   int64
 17  VideoCluster        8493 non-null   int64
 18  Anomaly             8493 non-null   object
 19  Channel_Cluster     8493 non-null   int64
 20  Video_Cluster       8493 non-null   int64
 21  Country_Cluster_x   8493 non-null   int64
 22  Category_Cluster_x  8493 non-null   int64
 23  Country_Cluster_y   8493 non-null   int64
 24  Category_Cluster_y  8493 non-null   int64
 25  Year                8493 non-null   int64
 26  Month               8493 non-null   int64
 27  Day                 8493 non-null   int64
 28  DayOfWeek           8493 non-null   int64
 29  DayName             8493 non-null   object
 30  Views_per_Sub       8493 non-null   float64
 31  Engagement          8493 non-null   float64
 32  Like_per_Sub        8493 non-null   float64
 33  Comment_per_Sub     8493 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(4), int64(27), object(2)
memory usage: 2.2+ MB

In [20]:
# Belgilangan ustunlarni o‚Äòchirish
df = df.drop(columns=['Unnamed: 0', 'Anomaly', 'Published_scaled'], errors='ignore')

# Natijani tekshirish
print(df.columns.tolist())

['Video ID', 'Video Title', 'Channel', 'Published Date', 'Views', 'Likes', 'Comments', 'Subscribers', 'Channel Views', 'Country', 'Region', 'CategoryID', 'CategoryName', 'Cluster', 'CategoryID_enc', 'Country_enc', 'VideoCluster', 'Channel_Cluster', 'Video_Cluster', 'Country_Cluster_x', 'Category_Cluster_x', 'Country_Cluster_y', 'Category_Cluster_y', 'Year', 'Month', 'Day', 'DayOfWeek', 'DayName', 'Views_per_Sub', 'Engagement', 'Like_per_Sub', 'Comment_per_Sub']

In [ ]:
scaler = Scaler(df, target_col='CategoryName')
df_scaled = scaler.scaling_qil().get_df()

In [23]:

df.head()

,Unnamed: 0,Video ID,Video Title,Channel,Published Date,Views,Likes,Comments,Subscribers,Channel Views,...,Category_Cluster_y,Year,Month,Day,DayOfWeek,DayName,Views_per_Sub,Engagement,Like_per_Sub,Comment_per_Sub
0,-1.731847,-1.721242,0.094898,-0.733313,2025-10-20 00:05:43+00:00,-0.378194,-0.362793,-0.100989,0.183348,0.021778,...,0.596018,0.0,0.141625,1.225846,-1.858123,Monday,0.008288,0.020214,0.000164,0.000004
1,-1.731439,-1.141648,-0.732741,0.326218,2025-10-16 16:03:51+00:00,-0.377046,-0.356911,-0.100484,-0.207709,-0.161989,...,0.596018,0.0,0.141625,0.113043,-0.287141,Thursday,0.240164,0.033996,0.008053,0.000112
2,-1.731031,-0.104824,-0.486586,0.469163,2025-10-17 03:00:36+00:00,-0.343066,-0.321594,-0.089758,-0.222435,-0.170367,...,0.596018,0.0,0.141625,0.391244,0.236520,Friday,9.482668,0.018693,0.173856,0.003405
3,-1.730623,1.301536,1.291973,-0.315894,2025-10-18 09:07:36+00:00,-0.142867,0.189549,-0.084092,-0.221800,-0.166931,...,-0.298799,0.0,0.141625,0.669444,0.760181,Saturday,49.579964,0.036200,1.790621,0.004178
4,-1.730215,-0.865923,1.563195,-1.139314,2025-10-16 10:48:06+00:00,-0.354881,-0.301446,-0.006584,0.017232,-0.124141,...,-1.193616,0.0,0.141625,0.113043,-0.287141,Thursday,0.098967,0.041675,0.003743,0.000381

In [23]:
import pandas as pd
from IPython.display import display

# Sozlamalar
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# Ustunlarni tanlash
cols = df.columns  # yoki: cols = ['Views', 'Likes', 'Comments', ...]

# Jadvalni ko‚Äòrsatish
display(df[cols])

,Video ID,Video Title,Channel,Published Date,Views,Likes,Comments,Subscribers,Channel Views,Country,Region,CategoryID,CategoryName,Cluster,CategoryID_enc,Country_enc,VideoCluster,Channel_Cluster,Video_Cluster,Country_Cluster_x,Category_Cluster_x,Country_Cluster_y,Category_Cluster_y,Year,Month,Day,DayOfWeek,DayName,Views_per_Sub,Engagement,Like_per_Sub,Comment_per_Sub
0,26,4388,2187,2025-10-20 00:05:43+00:00,34727,686,16,4190000,1909505035,12,5,20,0,0,4,12,0,0,0,1,2,1,2,2025,10,20,0,Monday,0.008288,0.020214,0.000164,0.000004
1,1447,2374,4507,2025-10-16 16:03:51+00:00,45151,1514,21,188000,135785655,22,11,22,1,0,8,22,0,0,0,1,2,1,2,2025,10,16,3,Thursday,0.240164,0.033996,0.008053,0.000112
2,3989,2973,4820,2025-10-17 03:00:36+00:00,353713,6485,127,37300,54921887,72,35,25,2,0,7,72,1,0,0,1,2,1,2,2025,10,17,4,Friday,9.482668,0.018693,0.173856,0.003405
3,7437,7301,3101,2025-10-18 09:07:36+00:00,2171652,78431,183,43800,88085601,85,43,24,3,0,2,85,2,0,0,1,1,1,1,2025,10,18,5,Saturday,49.579964,0.036200,1.790621,0.004178
4,2123,7961,1298,2025-10-16 10:48:06+00:00,246429,9321,949,2490000,501089468,85,43,28,4,0,9,85,1,0,0,1,0,1,0,2025,10,16,3,Thursday,0.098967,0.041675,0.003743,0.000381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8488,5967,1966,2744,2025-10-18 15:01:16+00:00,1403616,71621,6542,21900000,9765186646,67,5,20,0,0,4,67,2,2,0,1,2,1,2,2025,10,18,5,Saturday,0.064092,0.055687,0.003270,0.000299
8489,5304,667,2888,2025-10-14 11:11:49+00:00,216583,4893,28,765000,1570138056,41,20,25,2,0,7,41,0,0,0,2,2,2,2,2025,10,14,1,Tuesday,0.283115,0.022721,0.006396,0.000037
8490,3249,1026,5607,2025-10-15 14:06:24+00:00,967830,8656,67,834000,1696172430,93,48,17,9,0,10,93,1,0,0,1,0,1,0,2025,10,15,2,Wednesday,1.160466,0.009013,0.010379,0.000080
8491,178,257,4147,2025-10-17 06:55:35+00:00,967262,12325,186,12300000,5295821171,42,21,25,2,0,7,42,0,0,0,0,2,0,2,2025,10,17,4,Friday,0.078639,0.012934,0.001002,0.000015
8492,2888,74,529,2025-10-16 15:37:07+00:00,2114503,33725,86,18500,76154380,86,44,1,8,0,3,86,2,0,0,1,3,1,3,2025,10,16,3,Thursday,114.291282,0.015990,1.822874,0.004648

# MinMaxScaler bilan datetime ustunini scaling qilish

In [24]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

# (1) Ustun datetime formatda ekanligiga ishonch hosil qilamiz
df['Published Date'] = pd.to_datetime(df['Published Date'], utc=True)

# (2) Datetime ni soniyalarga (timestamp) aylantirish
df['Published Date'] = df['Published Date'].astype('int64') / 1e9  # nanosekund ‚Üí sekund

# (3) NaN qiymatlarni hisobdan chiqaramiz
mask = df['Published Date'].notna()

# (4) Scaling
scaler = MinMaxScaler(feature_range=(0, 1))
df.loc[mask, 'Published Date'] = scaler.fit_transform(df.loc[mask, ['Published Date']])

# (5) Natijani ko‚Äòrish
print(df['Published Date'].head())

0    0.988754
1    0.898341
2    0.910707
3    0.944730
4    0.892396
Name: Published Date, dtype: float64

In [25]:
import pandas as pd
from IPython.display import display

# Sozlamalar
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# Ustunlarni tanlash
cols = df.columns  # yoki: cols = ['Views', 'Likes', 'Comments', ...]

# Jadvalni ko‚Äòrsatish
display(df[cols])

,Video ID,Video Title,Channel,Published Date,Views,Likes,Comments,Subscribers,Channel Views,Country,Region,CategoryID,CategoryName,Cluster,CategoryID_enc,Country_enc,VideoCluster,Channel_Cluster,Video_Cluster,Country_Cluster_x,Category_Cluster_x,Country_Cluster_y,Category_Cluster_y,Year,Month,Day,DayOfWeek,DayName,Views_per_Sub,Engagement,Like_per_Sub,Comment_per_Sub
0,26,4388,2187,0.988754,34727,686,16,4190000,1909505035,12,5,20,0,0,4,12,0,0,0,1,2,1,2,2025,10,20,0,Monday,0.008288,0.020214,0.000164,0.000004
1,1447,2374,4507,0.898341,45151,1514,21,188000,135785655,22,11,22,1,0,8,22,0,0,0,1,2,1,2,2025,10,16,3,Thursday,0.240164,0.033996,0.008053,0.000112
2,3989,2973,4820,0.910707,353713,6485,127,37300,54921887,72,35,25,2,0,7,72,1,0,0,1,2,1,2,2025,10,17,4,Friday,9.482668,0.018693,0.173856,0.003405
3,7437,7301,3101,0.944730,2171652,78431,183,43800,88085601,85,43,24,3,0,2,85,2,0,0,1,1,1,1,2025,10,18,5,Saturday,49.579964,0.036200,1.790621,0.004178
4,2123,7961,1298,0.892396,246429,9321,949,2490000,501089468,85,43,28,4,0,9,85,1,0,0,1,0,1,0,2025,10,16,3,Thursday,0.098967,0.041675,0.003743,0.000381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8488,5967,1966,2744,0.951389,1403616,71621,6542,21900000,9765186646,67,5,20,0,0,4,67,2,2,0,1,2,1,2,2025,10,18,5,Saturday,0.064092,0.055687,0.003270,0.000299
8489,5304,667,2888,0.838615,216583,4893,28,765000,1570138056,41,20,25,2,0,7,41,0,0,0,2,2,2,2,2025,10,14,1,Tuesday,0.283115,0.022721,0.006396,0.000037
8490,3249,1026,5607,0.869016,967830,8656,67,834000,1696172430,93,48,17,9,0,10,93,1,0,0,1,0,1,0,2025,10,15,2,Wednesday,1.160466,0.009013,0.010379,0.000080
8491,178,257,4147,0.915131,967262,12325,186,12300000,5295821171,42,21,25,2,0,7,42,0,0,0,0,2,0,2,2025,10,17,4,Friday,0.078639,0.012934,0.001002,0.000015
8492,2888,74,529,0.897838,2114503,33725,86,18500,76154380,86,44,1,8,0,3,86,2,0,0,1,3,1,3,2025,10,16,3,Thursday,114.291282,0.015990,1.822874,0.004648

# DayName ustunini avval Label Encoding, so‚Äòngra MinMax Scaling qilish

In [26]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

# (1) Misol DataFrame
# Sizning holatingizda df allaqachon mavjud bo‚Äòladi
# df = pd.read_csv("file.csv")
# Masalan:
# df = pd.DataFrame({"DayName": ["Monday", "Thursday", "Tuesday", "Friday", "Monday"]})

# (2) NaN qiymatlarni hisobga olish uchun tozalaymiz
mask = df['DayName'].notna()

# (3) Label Encoding
le = LabelEncoder()
df.loc[mask, 'DayName'] = le.fit_transform(df.loc[mask, 'DayName'])

# (4) Label encodingdan keyin Min-Max Scaling
scaler = MinMaxScaler(feature_range=(0, 1))
df.loc[mask, 'DayName'] = scaler.fit_transform(df.loc[mask, ['DayName']])

# (5) Natijani ko‚Äòrish
print(df.head())

   Video ID  Video Title  Channel  Published Date    Views  Likes  Comments  \
0        26         4388     2187        0.988754    34727    686        16
1      1447         2374     4507        0.898341    45151   1514        21
2      3989         2973     4820        0.910707   353713   6485       127
3      7437         7301     3101        0.944730  2171652  78431       183
4      2123         7961     1298        0.892396   246429   9321       949

   Subscribers  Channel Views  Country  Region  CategoryID  CategoryName  \
0      4190000     1909505035       12       5          20             0
1       188000      135785655       22      11          22             1
2        37300       54921887       72      35          25             2
3        43800       88085601       85      43          24             3
4      2490000      501089468       85      43          28             4

   Cluster  CategoryID_enc  Country_enc  VideoCluster  Channel_Cluster  \
0        0               4           12             0                0
1        0               8           22             0                0
2        0               7           72             1                0
3        0               2           85             2                0
4        0               9           85             1                0

   Video_Cluster  Country_Cluster_x  Category_Cluster_x  Country_Cluster_y  \
0              0                  1                   2                  1
1              0                  1                   2                  1
2              0                  1                   2                  1
3              0                  1                   1                  1
4              0                  1                   0                  1

   Category_Cluster_y  Year  Month  Day  DayOfWeek   DayName  Views_per_Sub  \
0                   2  2025     10   20          0  0.166667       0.008288
1                   2  2025     10   16          3  0.666667       0.240164
2                   2  2025     10   17          4       0.0       9.482668
3                   1  2025     10   18          5  0.333333      49.579964
4                   0  2025     10   16          3  0.666667       0.098967

   Engagement  Like_per_Sub  Comment_per_Sub
0    0.020214      0.000164         0.000004
1    0.033996      0.008053         0.000112
2    0.018693      0.173856         0.003405
3    0.036200      1.790621         0.004178
4    0.041675      0.003743         0.000381

In [27]:
import pandas as pd
from IPython.display import display

# Sozlamalar
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# Ustunlarni tanlash
cols = df.columns  # yoki: cols = ['Views', 'Likes', 'Comments', ...]

# Jadvalni ko‚Äòrsatish
display(df[cols])

,Video ID,Video Title,Channel,Published Date,Views,Likes,Comments,Subscribers,Channel Views,Country,Region,CategoryID,CategoryName,Cluster,CategoryID_enc,Country_enc,VideoCluster,Channel_Cluster,Video_Cluster,Country_Cluster_x,Category_Cluster_x,Country_Cluster_y,Category_Cluster_y,Year,Month,Day,DayOfWeek,DayName,Views_per_Sub,Engagement,Like_per_Sub,Comment_per_Sub
0,26,4388,2187,0.988754,34727,686,16,4190000,1909505035,12,5,20,0,0,4,12,0,0,0,1,2,1,2,2025,10,20,0,0.166667,0.008288,0.020214,0.000164,0.000004
1,1447,2374,4507,0.898341,45151,1514,21,188000,135785655,22,11,22,1,0,8,22,0,0,0,1,2,1,2,2025,10,16,3,0.666667,0.240164,0.033996,0.008053,0.000112
2,3989,2973,4820,0.910707,353713,6485,127,37300,54921887,72,35,25,2,0,7,72,1,0,0,1,2,1,2,2025,10,17,4,0.0,9.482668,0.018693,0.173856,0.003405
3,7437,7301,3101,0.944730,2171652,78431,183,43800,88085601,85,43,24,3,0,2,85,2,0,0,1,1,1,1,2025,10,18,5,0.333333,49.579964,0.036200,1.790621,0.004178
4,2123,7961,1298,0.892396,246429,9321,949,2490000,501089468,85,43,28,4,0,9,85,1,0,0,1,0,1,0,2025,10,16,3,0.666667,0.098967,0.041675,0.003743,0.000381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8488,5967,1966,2744,0.951389,1403616,71621,6542,21900000,9765186646,67,5,20,0,0,4,67,2,2,0,1,2,1,2,2025,10,18,5,0.333333,0.064092,0.055687,0.003270,0.000299
8489,5304,667,2888,0.838615,216583,4893,28,765000,1570138056,41,20,25,2,0,7,41,0,0,0,2,2,2,2,2025,10,14,1,0.833333,0.283115,0.022721,0.006396,0.000037
8490,3249,1026,5607,0.869016,967830,8656,67,834000,1696172430,93,48,17,9,0,10,93,1,0,0,1,0,1,0,2025,10,15,2,1.0,1.160466,0.009013,0.010379,0.000080
8491,178,257,4147,0.915131,967262,12325,186,12300000,5295821171,42,21,25,2,0,7,42,0,0,0,0,2,0,2,2025,10,17,4,0.0,0.078639,0.012934,0.001002,0.000015
8492,2888,74,529,0.897838,2114503,33725,86,18500,76154380,86,44,1,8,0,3,86,2,0,0,1,3,1,3,2025,10,16,3,0.666667,114.291282,0.015990,1.822874,0.004648

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8493 entries, 0 to 8492
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Video ID            8493 non-null   int64
 1   Video Title         8493 non-null   int64
 2   Channel             8493 non-null   int64
 3   Published Date      8493 non-null   float64
 4   Views               8493 non-null   int64
 5   Likes               8493 non-null   int64
 6   Comments            8493 non-null   int64
 7   Subscribers         8493 non-null   int64
 8   Channel Views       8493 non-null   int64
 9   Country             8493 non-null   int64
 10  Region              8493 non-null   int64
 11  CategoryID          8493 non-null   int64
 12  CategoryName        8493 non-null   int64
 13  Cluster             8493 non-null   int64
 14  CategoryID_enc      8493 non-null   int64
 15  Country_enc         8493 non-null   int64
 16  VideoCluster        8493 non-null   int64
 17  Channel_Cluster     8493 non-null   int64
 18  Video_Cluster       8493 non-null   int64
 19  Country_Cluster_x   8493 non-null   int64
 20  Category_Cluster_x  8493 non-null   int64
 21  Country_Cluster_y   8493 non-null   int64
 22  Category_Cluster_y  8493 non-null   int64
 23  Year                8493 non-null   int64
 24  Month               8493 non-null   int64
 25  Day                 8493 non-null   int64
 26  DayOfWeek           8493 non-null   int64
 27  DayName             8493 non-null   object
 28  Views_per_Sub       8493 non-null   float64
 29  Engagement          8493 non-null   float64
 30  Like_per_Sub        8493 non-null   float64
 31  Comment_per_Sub     8493 non-null   float64
dtypes: float64(5), int64(26), object(1)
memory usage: 2.1+ MB

In [30]:

df.to_csv(r"C:\Users\Rasulbek907\Desktop\Project_MP\Data\Preprosessed\Preprosessedd.csv")